 <!-- Header -->
 <%- include('./ejs/top.ejs', {
    title: "한가원 인적성",
    url: "../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->

        </div>
        <!-- //상단영역 -->
        <div class="mainLayout" id="container"> <!-- 241206 kb 수정 -->
            <!-- 메인 콘텐츠 영역 -->

            <!-- //메인 콘텐츠 영역 -->
        </div>

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('./ejs/footer.ejs', {
                url: "../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->
<div class="modPopup type02 popOpen" id="clause02">
    <div class="popupDim">딤 영역</div>
    <div class="popupBox lg"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
        <!-- 팝업 타이틀 -->
        <div class="popTitArea">
            <!-- <div class="tit">타이틀</div> -->
            <button class="closeBtn" onclick="popClose('clause02')">팝업 닫기</button>
        </div>

        <!-- 팝업 컨텐츠 -->
        <div class="popContArea">
            <div class="comClause">
                <div class="finCov">
                    <div class="finCont">
                        <img src="../images/icon_phone.png" alt="핸드폰 아이콘 이미지 가운데에 체크표시가 되어있다.">
                        <p class="txt">
                            <span class="finTitle">본인인증</span>
                            <span>실명인증을 위해 휴대폰 본인인증을 진행해 주세요.</span>
                        </p>
                        <button type="button" class="compBtn">휴대폰 본인인증</button> <!-- 클릭 시, 통신사 패스(pass) 인증 호출 / 인증 완료 시, 센터 담당자 정보 입력 화면으로 이동 (center.html) -->
                    </div>
                </div>                     
            </div>
        </div>


    </div>
</div>

<!-- Bottom -->
<%- include('./ejs/bottom.ejs', { }) %>