 <!-- Header -->
<%- include('./ejs/top.ejs', {
    title: "한가원 인적성",
    url: "../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
			<div class="lyt-header">
				<div class="head-area">
					
					<div class="mob-dim">딤 영역</div>
					<div class="nav-area">
						<h1 class="logo">
							<a href="/index.html">
								<img src="../images/dolbomi_logo.png" alt="한국건강가정진흥원 인적성검사 로고"> 
							</a>
						</h1>
						<div class="main-nav">
							<div class="mob-tit tab-view">
								<button type="button" class="btn-close">전체 메뉴 닫기</button> 
							</div>
							<div class="mob-navwrap">
								<ul class="nav">
									<li class="depth1">
										<a href="#">로그인</a>
									</li>
									<li class="depth1">
										<a href="#">인적성 검사</a>
									</li>
									<li class="depth1">
										<a href="#">인적사항 입력</a>
									</li>
									<li class="depth1">
										<a href="#">센터 담당자 정보 입력</a> 
									</li>
								</ul>
							</div>
							
						</div>
					</div>
					<div class="button-area member"><!--class: member 있을 시 로그인 버튼 비활성화, 로그아웃 버튼 활성화-->
						<a href="#" class="go-login">로그인</a> <!-- 비로그인 클릭 시, 본인인증 팝업 호출 (certiLogin.html)  -->
						<a href="#" class="go-user"><span class="userName">홍길동</span>님</a>
						<a href="#" class="go-logout">로그아웃</a>
						<!-- <button type="button" class="hambuger tab-view">전체 메뉴 열기</button> --> <!-- 24.12.10 kb -->
					</div>
					
				</div>
			</div>
        </div>
        <!-- //상단영역 -->
        <div class="mainLayout" id="container"> 
            <!-- 메인 콘텐츠 영역 -->
            <div class="introCover">
                <img src="../images/intro_page.png" alt="하단 내용 참조">
                <span class="irArea hidden">
                    아이돌봄서비스-아이돌보미<br>
                    아이돌보미 인적성 검사<br>
                    돌보미의 능력과 소질을 파악 할 수 있습니다.<br>
                    여러분의 평소 일상생활에 대한 질문, 여러분의 평소 생각이나 느낌에 대한 질문 들로 구성되어 있습니다. 여러분이 느끼고 생각하는대로 편안하고 솔직하게 응답해 주시기 바랍니다.<br>
                    인적성 검사의 절차는 아래와 같습니다.
                    STEP.01 - 회원가입 및 로그인
                    STEP.02 - 검사진행
                    STEP.03 - 분석결과 확인
                </span>
                <div class="goToTest"></div><!-- 클릭 시, 팝업 호출 (personalInfo.html) --> <!-- onclick="popOpen('test01')" 팝업 호출 -->
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>

        <!-- 하단영역 -->
        <!-- <div class="layoutFooter">
        </div> -->
        <!-- //하단영역 -->

    </div>
</div>

<!-- 검사 완료 알럿 2-2 -->
<!-- addClass - on:팝업오픈 -->
<div id="done01" class="modAlert">
    <div class="alertArea">
        <div class="alertTit">
            <span>이미 검사를 완료하였습니다.​</span>
        </div>
        <div class="alertBtm">
            <button class="btn dkBlue" onclick="closeAlert('done01');">확인</button>
        </div>
    </div>
</div>

<!-- Bottom -->
<%- include('./ejs/bottom.ejs', { }) %>