.modPopup {
  width: 100%; height: 100vh; position: fixed; top: 0;left: 0;right: 0;bottom: 0; display: flex; align-items: center; justify-content: center; z-index: 999; display: none;

  .popupDim {width: 100%; height: 100vh; font-size: 0; background: rgba(0,0,0,0.4); position: absolute; top: 0;left: 0;right: 0; bottom: 0; opacity: 0;}
  .popupBox {
      width: 100%; margin: 0 auto; position: relative; display: flex; flex-flow: column; z-index: 1;
    //   @include media ('tablet'){
    //       width:90.75%;
    //   }
      & > * {opacity: 0;}
      &::before {display: block; content: ""; width: 0; height: 0;background: #fff; position: absolute; top: 50%; left: 50%; z-index: -1;}
  }

  .popContArea {
      overflow-y: auto; overflow-x:hidden;
      &::-webkit-scrollbar{
          width:4px; background:rgba(0,0,0,0.1);
      }
      &::-webkit-scrollbar-thumb{
          background:rgba(0,0,0,0.2);
      }
      .previewArea{
          width: 100%; height: 100%;
          img{
              width: 100%; height: 100%;
          }
      }
  }
  

  &.popOpen {
      display: flex;
      .popupDim {opacity: 1;}
      .popupBox {
          &::before {animation: popOut 0.15s linear 1 forwards;}
          & > * {animation: opaci1 0.15s linear 0.15s 1 forwards;}
      }
  }
  @keyframes popOut {
      from {width: 0; height: 0;top: 50%; left: 50%;}
      to {width: 100%; height: 100%;top: 0; left: 0;}
  }
  @keyframes opaci1 {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  &.type01 {
      .popupBox {
          max-height: 90%; 
          border-radius: 24px; padding:24px 24px 30px 24px;
          &::before {border-radius: 24px;} 
                  
          .popTitArea {
              width: 100%; padding-bottom:24px;
            //   margin-bottom:30px;
              border-bottom: 1px solid var(--txt-gray04); display: flex; justify-content: space-between; align-items: center;
              .tit {
                  font-size:20px; color:var(--txt-black);
                  b {color: #005ce6;}
              }
              .closeBtn {margin-left: auto; width: 24px; height: 24px; font-size: 0; background: url(../../images/common/ico_pop_close.svg) center no-repeat;}

              &.type02 {border-bottom:0;}
          }

          .popBtnArea {
              width: 100%; padding-top: 30px; display: flex; justify-content: center; align-items: center; column-gap: 10px;
              .popBtn {
                  display:inline-block;
                  /* kb 2024-11-08 수정 */
                  width: 160px; 
                  height:56px; line-height:56px; padding: 0 40px; border-radius: 8px; font-size: 18px; text-align: center;
                  &.blue { background:var(--prm-color); color:var(--clr-white);}
                  &.white { background:var(--clr-white); color:var(--txt-black); border:1px solid var(--txt-gray02);}
              }

          }
          &.sm {max-width:440px;}
          &.lg {max-width:1200px;}
      }
  }

  &.type02 {
      .popupBox {
          max-width: 660px; max-height: 700px; border-radius: 24px; padding:24px 24px 30px 24px;
          &::before {border-radius: 24px;}                     
          .popTitArea {
              width: 100%; display: flex; justify-content: flex-end; align-items: center;
              .closeBtn {margin-left: auto; width: 24px; height: 24px; font-size: 0; background: url(../../images/common/ico_pop_close.svg) center no-repeat;}
          }

          .popContArea {
              .title {
                  font-size:20px; font-weight:500; line-height:28px; letter-spacing:-0.4px; color: var(--txt-black);
              }
              .desc {
                  width:100%; margin:30px 0 16px; font-size:16px; color:var(--txt-gray02); font-weight:400;
              }
          }

          .popBtnArea {
              width: 100%; padding-top: 30px; display: flex; justify-content: center; align-items: center; column-gap: 10px;
              .popBtn {
                  display:inline-block;
                  width: 160px; 
                  height:56px; line-height:56px; padding: 0 40px; border-radius: 8px; font-size: 18px; text-align: center;
                  &.blue { background:var(--prm-color); color:var(--clr-white);}
                  &.white { background:var(--clr-white); color:var(--txt-black); border:1px solid var(--txt-gray02);}
              }
          }
      }
  }

  &.fullLayout{
      .popupBox{
          width: 100%; height: 100%; background: var(--clr-white); border-radius: 0; padding: 0; max-width: 100%; max-height: 100%; 
          &::before{
              animation: none;
          }
          > *{
              animation: none; opacity: 1;
          }
      }

      .popTitArea{
          display: flex; justify-content: space-between; align-items: center; height: 55px; padding: 15px; border-bottom: 1px solid #f2f2f2;
          .tit{
              color: var(--txt-black); font-weight: 500; font-size: 20px; letter-spacing: -0.5px;
          }
      }
  }

}