// //반응형
// @mixin media($breakpoint, $breakpoints:$breakpointText){
//     @if map-has-key($breakpoints, $breakpoint){
//         $breakpoint:map-get($breakpoints, $breakpoint);
//     }

//     @media screen and (max-width: #{$breakpoint}) {
//         @content;
//     }
// }

// $breakpointText: (
//     mobile:767px,
//     tablet:1023px,
//     pcs:1280px,
//     pcl:1480px,
// );


//반응형
@mixin media($breakpoint, $breakpoints:$breakpointText){
    @if map-has-key($breakpoints, $breakpoint){
        $breakpoint:map-get($breakpoints, $breakpoint);
    }

    @media screen and (max-width: #{$breakpoint}) {
        @content;
    }
}

$breakpointText: (
    moDeep : 460px,
    mobile:767px,
    tablet:1023px,
    wide: 1319px,
    main01: 1640px,
    window: 806px
);